*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: "source-serif-pro", serif;
}

.wrapper{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    padding: 0 20px;
}

.contact-form{
    max-width: 1000px;
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.7);
    padding: 30px;
    border-radius: 5px;
    display: flex;
    box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2);
    font-size: 1.5rem;
}

.input-fields{
    display: flex;
    flex-direction: column;
    margin-right: 4%;
}

.input-fields,
.msg{
    width: 48%;
}

.input-fields .input,
.msg textarea{
    margin: 30px 0;
    background: transparent;
    border: 0;
    border-bottom: 2px solid rgb(0, 156, 168);
    padding: 10px;
    color: rgb(0, 156, 168); /* tekstivärv*/
    width: 100%;
    font-size: 1.2rem;

}

.msg textarea{
    height: 212px;   
}


.btn{
    background: rgb(245, 180, 209);
    text-align: center;
    padding: 15px;
    border-radius: 5px;
    color: #ffffff;
    cursor: pointer;
    text-transform: uppercase;
}

.btn:hover{
    opacity: 1.0;
    font-weight: 600;
}

